body {
  background-color: #2a2a2a !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.chats-menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  width: 18%;
  height: 100%;
  background-color: #2a2a2a;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
}

#main {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  left: 20%;
}

#chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 98%;
  height: 90%;
  margin-top: 10px;
  overflow: auto;
  overflow-x: hidden;
}

#input-field {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 98%;
  min-height: 50px;
  margin: 5px 0px 10px;
}

#textarea {
  margin: 0px 5px;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #424242 !important;
  color: #ffffff !important;
  border-color: #0d6efd !important;
}

.scroll-down {
  display: none;
}
.scroll-down-flex {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #424242;
  border-radius: 100%;
  bottom: 20%;
  right: 3%;
  z-index: 10;
}

#scroll-down-icon{
  width: 25px;
  height: 25px;
  color: #ffffff;
}

#chats-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: #2a2a2a;
  color: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
}

.chats-header-icon {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

#menu-icon, #create-chat{
  width: 25px;
  height: 25px;
  margin: 15px;
}

.select-chat {
  margin: 10px;
  padding: 1rem;
  word-wrap: break-word;
  background-color: #424242;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.chat-name {
  color: #ffffff;
}

#user-message {
  width: auto;
  max-width: 98%;
  margin-bottom: 8px !important;
  padding: 1rem;
  background-color: #424242;
  color: #ffffff;
  border-radius: .25rem .25rem .25rem 0px;
}

.username {
  margin-right: 4px;
}

#send_message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  width: 5%;
  height: 100%;
  border-radius: .25rem;
  background-color: #0d6efd;
  color: #ffffff !important;
}
#send_message svg {
  width: 50%;
  height: 50%;
  color: #ffffff;
}

.user-message-emote {
  height: 28px;
  width: 28px;
}

.user-message-item {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.modal-content {
  background-color: #424242 !important;
  color: #ffffff;
}

#new-chat-name {
  background-color: #424242 !important;
  color: #ffffff !important;
  border-color: #0d6efd !important;
}

.all-emotes {
  display: none;
}
.all-emotes.active {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0;
  right: 0;
  margin: 0px 20px 70px 0px;
  width: 400px;
  height: 200px;
  padding: 10px;
  flex-direction: row;
  overflow: auto;
  overflow-x: hidden;
  color: #ffffff;
  background-color: #424242;
  border-radius: .25rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
}

.get-emote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 80px;
  max-height: 60px;
  margin: 5px;
  padding: 5px;
  background-color: #2a2a2a;
  border-radius: .25rem;
}
.get-emote img {
  width: 28px;
  height: 28px;
}
.get-emote span {
  font-size: 10px;
}

#emotes-menu {
  margin: 0px 5px;
  width: 5%;
  height: 100%;
  border-radius: .25rem;
  background-color: #0d6efd;
}

#emote-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#emote-icon{
  width: 50%;
  height: 50%;
  color: #ffffff;
}

.content-back {
  display: none;
}

@media (max-width:992px){
  .chats-menu{
    width: 6%;
    z-index: 3;
  }
  .chats-menu.active {
    width: 30%;
  }

  #chat-header {
    z-index: 5;
  }

  #chats-header-create-chat{
    display: none;
  }

  .chats-header-menu.active div{
    display: flex !important;
    z-index: 6;
  }

  .select-chat {
    display: none;
  }
  .select-chat.active {
    display: block;
    z-index: 4;
  }

  .chats-header-icon span{
    display: none;
  }
  .chats-header-menu.active div span{
    display: flex;
  }

  #main{
    left: 8%;
    width: 92%;
    z-index: 1;
  }

  .content-back.active {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: #2a2a2a;
    opacity: .8;
    z-index: 2;
  }
}

@media (max-width:767px){
  .chats-menu{
    width: 8%;
  }

  #main{
    left: 10%;
    width: 90%;
  }

  .chats-menu.active {
    width: 50%;
  }

  .chats-header-menu{
    justify-content: center !important;
  }
  .chats-header-menu.active{
    justify-content: space-between !important;
  }

  #menu-icon {
    width: 20px;
    height: 20px;
    margin: 8px;
  }
}
