<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
  <link href="{{ url_for('static', filename='styles/chat.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='styles/chat-media.css') }}" rel="stylesheet" />
  <title>Pet The Chat</title>
</head>

<body>
  <div class="wrapper">
    <div class="content-back"></div>
    <div class="chats">
      <div class="chats-header">
        <div class="chats-header-icon">
          <i class="bi bi-list"></i>
          <span>Chats</span>
        </div>
        <div id="start-chat-creation" class="create-chat">
          <i class="bi bi-plus-square"></i>
        </div>
      </div>
      <div class="chats-content">
        {% for chat_link, chat_name in chats.items() %}
        <div class="select-chat">
          <p class="chat-name" id="{{ chat_link }}">{{ chat_name }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="chat">
      <div class="chat-header">
        <div class="chat-header-left-menu">
          <div class="chat-header-name"><span>Connection...</span></div>
          <div class="chat-online"><span>Online</span></div>
        </div>
        <div class="chat-header-right-menu">
          <i class="bi bi-three-dots-vertical"></i>
        </div>
      </div>
      <div class="chat-content">
        <div class="chat-messages-field">
          <div class="chat-messages"></div>
          <div class="emotes emotes-menu">
            {% for emote_name, emote_link in emotes.items() %}
            <div class="get-emote">
              <img src="{{ emote_link }}" />
              <span>:{{ emote_name }}:</span>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="chat-input-field">
          <textarea id="textarea" placeholder="Write a message"></textarea>
          <div class="emotes emote-btn">
            <i class="bi bi-emoji-smile"></i>
          </div>
          <div id="send-message" tabindex="1">
            <i class="bi bi-send"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-down">
      <i class="bi bi-arrow-down-circle"></i>
    </div>
    <div class="create-chat-form-content-back">
      <div class="create-chat-form">
        <div class="create-chat-form-content">
          <label for="enter-chat-name">Enter chat name:</label>
          <input type="text" id="enter-chat-name" name="chat-name">
          <small>The chat name is required.</small>
        </div>
        <div class="create-chat-form-footer">
          <button type="button" id="submit-chat-creation">Create</button>
          <button type="button" id="cancel-chat-creation" class="create-chat">Cancel</button>
        </div>
      </div>
    </div>
    <div class="chat-settings-menu">
      <div class="chat-settings-menu-get-link">
        <p>Get chat link</p>
      </div>
    </div>
    <div class="copy-chat-link-menu-content-back">
      <div class="copy-chat-link-menu">
        <div class="copy-chat-link-menu-header">
          <span>Copy link</span>
          <div class="chat-settings-menu-get-link">
            <i class="bi bi-x-lg"></i>
          </div>
        </div>
        <div class="copy-chat-link-menu-content">
          <input type="text" id="input-copy-link" value="">
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    const username = `{{ username }}`;
    const current_chat_link = `{{ current_chat }}`;
    const current_url = `{{ url }}`;
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/tools.js') }}"></script>
</body>

</html>